$primaryColor: #fe4a26;
$alternateColor: #8ee4af;

$foregroundColor: $primaryColor;
$textColor: #1a1a1a;
$backgroundColor: #fff;

$defaultPadding: 16px;
$halfPadding: $defaultPadding / 2;

$defaultFontSize: 14px;

$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
);
